{% extends "speller/base_index.html" %}
{% block description_contetnt %}Error articles at RIA.RU{% endblock %}
{% block title %}Error articles at RIA.RU{% endblock %}
{% block h1 %}Error articles at RIA.RU{% endblock %}
{% block articles %}
{% if results %}
    {% for r in results %}
    <p><a href="{{r.link}}" class="link-opacity-50-hover">{{r.link}}</a></p>
    <p>Errors: {{r.error|length}}</p>
    <p>Article: 
        {% for w in r.article %}
            {% if forloop.counter0 in r.error %}
                <mark>{{w}}</mark>
            {% else %}
                {{ w }}
            {% endif %}
        {% endfor %}
    </p>
    {% endfor %}
{% endif %}
{% endblock %}
